@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root {
    --greenl: #54d154;
    --greend: #3eba3e;
}
.center {text-align:center}
.left {text-align:left}
.black {color:#000}
header {
    height: 100vh;
    background: url('../img/headerbg.jpg') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
header nav ul li a {
    display: inline-block;
    font: bold 1em Arial;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    border-top: 5px solid rgba(0,0,0,0);
}

header div {text-align: center;}
header div button {
    background: var(--greenl);
    border: 0;
    border-radius: 25px;
    padding: 10px 26px;
    color: #fff;
    font: 1.2em Arial;
    text-transform: uppercase;
    cursor: pointer;
}
header p { padding: 12px;}
header p a {
    display: inline-block;
    padding: 5px 13px;
    background: rgba(255,255,255, 0.8);
    border-radius: 13px;
    color: #000;
    font: 1em Arial;
    cursor: pointer;
}
header nav form {padding: 5px 30px;}
header nav form input {
    background: rgba(255,255,255, .8) url('../img/search.svg') right no-repeat;
    border: 0;
    outline: 0;
    border-radius: 14px;
    padding: 7px 15px;
    color: #000;
    font: 1em Arial;

}
header div {padding: 6px;}
h1 {
    font: 900 2em Roboto, sans-serif;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    text-shadow: 0 0 10px var(--greend);
}
h2 { font: 1em "Montserrat"; text-transform: uppercase }
h3 {
	 font: bold 1.5em Arial;
	 color: #828181;
	 margin: 20px 0 0 0;
}
h4 {font: 1.1em Arial;text-transform: uppercase;color:#fff}
h5 { font:bold 1em Arial;color:#b7b3b3;}
h6 { font: .9em Arial }
#footer {padding:20px;}
#about p {
	font: .9em "Montserrat";
	color: #828181;
	line-height: 1.2;
	margin: 20px 0;
}
#about button {
	background-color: var(--greenl);
	padding: 6px 18px;	
	font: bold 1em Arial;
	border: 0;
	border-radius: 15px;
}
#about div article a {
	cursor: pointer;
	outline: 0;
	color: #fff;
}
#about i {
	padding: 30px;
	color: var(--greenl);
	font-size: 5em;
}
#about article div {
	background-color: #e1f3e1;
	border: 0;
	border-radius: 30px;
	width: 140px;
	height: 140px;
	margin: auto;
}
#about article { padding: 40px;	margin: 15px;}
#btns {
	display:flex;
	justify-content: center;
	padding: 60px;
	}
#imgs {
	display:flex;
	flex-wrap: wrap;
	padding:0;
	}	
#btns button {
	margin: 0;
	border: 1px solid #2b9b2b;
	padding:5px 10px;
}
#btns button :hover {background-color:#2b9b2b;color:#fff;padding:5px 0;}
#btn1 a {font: 1em Arial;color: #2b9b2b;}
#btn2 a {font: 1em Arial;color: #2b9b2b;}
#btn3 a {font: 1em Arial;color: #2b9b2b;}
#btn4 a {font: 1em Arial;color: #fff}
#btn1 a i {float:right;color: #fff;}

#btn1 {background-color: #fff;
	border-radius: 15px 0 0 15px;}
#btn3 {
	background-color: #fff;
	border-radius: 0 15px 15px 0 ;
	}
#btn4 {
	background-color: #2b9b2b;
	border:0;
	border-radius: 15px;
	padding:5px 10px;
}
#btn5 { 
	background: var(--greenl);
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    font: 1em Arial;
    text-transform: uppercase;
    cursor: pointer;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1);
	}	
#btn2 {background-color: #fff}
#imgs img {width:100%;}
#test p {
  font: 1em Tahoma;
  color: #444;
  line-height: 1.2;
  padding: 0;
}
#testim {
	display:flex;
	justify-content: space-between;
	padding: 65px 0;
	}
#i1 {color:#ff0066}
#i2 {color:blue}
#i3 {color:#00ccff}
#sm2 i {margin:3px}
#sm2 {background:#c5e9c5;border:0;border-radius:15px;margin:10px 40px 0 40px;}
#members p {font:1em Arial; color:#fff;}
#members hr {border:0;border-left:2px solid black;width:2px;height:80px;}
#members img {border:0;border-radius:50%;margin:25px 25px 8px 25px;}
#testim i {font-size:1.5em;}
#testim a {color: #b7b3b3;}
#inc {display:inline-block;}
#inc img {float:left}
#sm img {display:inline-block;padding:30px 80px;}

.heading { text-align: center }
.heading hr { width: 43px; border: 0 }

.gray h2 { color: #828181 }
.gray h6 { color: #b7b3b3; }
.gray hr { border-top: 1px solid #828181; }

.green h2 { color: #207b20 }
.green h6 { color: #30a230 }
.green hr { border-top: 1px solid #207b20 }

.col {
    display: flex;
    flex-direction: column;
}
.col > article {
    flex: 1 1;
    text-align: center;
}

main > section {padding: 40px 0 50px 0;}
#about, #test {background: #fff;}
#works, #team {background: var(--greenl);}
#client {background: #f2f1f1;}
#team2 {background: var(--greend);padding:25px 0;}
#members {background: var(--greenl);padding: 25px 50px;}
#contact {background:#333;padding:20px;}
#contact hr {border:0;border-bottom:2px solid #fff;width:30px}
#contact button {
	background:var(--greend);
	color:#fff;
	text-transform:uppercase;
	outline:0;
	border:0;
	cursor: pointer;
	}
#contact section form {
	display:flex;
	flex-direction: column;
	background:#444;
	color:#6a6a6a;
	margin: 20px;
	}
#contact section {width:100%;padding:20px;}
#contact img {width:50px;}
#aboutus p {
  font: 1em Tahoma;
  color: rgb(204, 204, 204);
  line-height: 1.2;
  text-align: center;
}
#posts .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#posts img {float:left;margin:10px;}
#posts p {
  font: 1em 'Montserrat';
  color: rgb(204, 204, 204);
}
#posts span {
  font: .8em 'Montserrat';
  color:#fff;
  text-transform: uppercase;
  padding:3px;
  border-radius: 4px;
  margin:10px 0 0 0;
}
#posts div {margin:20px;}
#zel {background: var(--greenl);}
#zhelt {background:#ffba00;}
#qol {background:#089dea;}
#kr {background:#f34d04;}
#num {
  font: .8em Tahoma;
  color: #888;
  line-height: 1.2;
  text-align: center;
}

#client button {
	background-color:#dddcdc;
	border:0;
	border-radius:20px; 
	padding: 10px 30px;
	}
#client button a {
  font: 1.1em Arial;
  color: rgb(165, 157, 157);
}
#footer {background:#222;}
#footer p {
	text-transform:uppercase;
	font: .9em 'Montserrat';
}
#footer hr {border:0;border-top: 2px solid #000; width:30px}
#footer img {margin:20px;}


@media only screen and (min-width: 760px) {
    h1 { font-size: 3.4em }
    header div button { font-size: 1.5em }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul { display: flex; order: -1; }
    header nav ul li a:hover, .activem {
        border-top: 5px solid var(--greenl);
    }
    .col { flex-direction: row }
	#members {display:flex;justify-content:center;padding: 25px 150px;}
	#about article { width: 33%;}
	#imgs img {width:17%;margin:15px}
	#contact {display:flex;}
	#contact section {width: 30%;margin: 10px;}
	#testim {
	display:flex;
	justify-content: space-between;
	padding: 65px 205px;
	}
	#test p {
	font: 1em Tahoma;
	color: #444;
	line-height: 1.2;
	padding: 0 135px;
	}
	#sm {padding: 0 80px;}
	#imgs {
		display:flex;
		flex-wrap: wrap;
		padding: 15px 100px;
	}	
	#btn5 {font-size: 1.3em}
	#footer img {margin:50px;}
	#footer div {display:inline-block;}
}