@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yesteryear&display=swap');

.txt-white { color: #FFF }

.container {  max-width: 1110px;  margin: auto;}
.clearfix::after { content: ""; clear: both; display: table }
.center { text-align: center; }
.roz { color:#c8235d;}
.ser {color: #8b8b8d;}
header {background: url('../img/headerbg.jpg') center/cover;}
header .container { 
    position: relative;
    min-height: 100vh;
}
header nav, header section {position: absolute;}
header nav {
    top: 30px;
    right: 50%;
    transform: translate(50%, 0);
}
header nav ul li { 
    text-align: center; 
    padding: 0 25px;
    font: 1em Poppins;      
} 
header section {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    text-align: center;
}
header section p {font: 1.1em/1.8 Poppins ;}
h1 {
    font: 2em Poppins, sans-serif;
    text-transform: uppercase;
}
h2 {
    font: 2em Yesteryear, cursive;
    text-align: center;
}
h3 {
    font: 1em Tahoma;
    color: #0b0c0d;
    text-transform: uppercase;
} 
h3 span { float: right } 
hr {
    width: 108px;
    border: none;
    border-bottom: 2px solid;
}
main section {padding: 110px 0;}
#story {background: #962323;}
#story img {
    width: 100%;
    height: 50vh;
}
#story article {text-align: center;}
#recipes {background: #25262a;}
#menu {background: #f3f4f7;}
#menu article {padding: 30px 10px;}
#menu p {
	font: 1em Poppins;
	line-height: 1.7;
	color: #505153;
	margin: 25px 0 0;
	}
#photos img {width:100%}
#f1 {
    background: #25262a;
    padding: 80px 30px;
	text-align:center;
}
#f1 p {
  font: .8em Roboto;
  line-height: 1.7;
  text-align: left;
}
#f1 li a {font: .8em Roboto;}
#f1 nav {margin:10px;}
#f1 nav ul {margin:10px;}
#f1 nav ul li {margin:10px;}
#f1 h5 { font: 1.1em Roboto; }
#f2 {
    background: #16171b;
    padding: 50px 0;
}
#logo {font: 1.6em Poppins;}
#fmenu {text-align:center;}
#fmenu li {margin:10px;}
#icons li {display:inline-block;width: 10%;}

  
@media only screen and (min-width: 768px) {
    header nav { width: 100%; top: 65px; }
    header nav ul {float: right; }
    header nav ul li { display: inline-block; }
    h1 { font-size: 4.5em }
    h2 { font-size: 3.5em }
    #story img {
        width: 42%;
        height: 400px;
        float: left;
    }
    #story article {
        float: left;
        width: 50%;
        margin: 50px 0 0 8%;
    }
	#story p {
		  font: 1.1em Poppins;
		  line-height: 1.7;
		  margin: 55px 0 0;
			}
	#recipes hr {color:#962323; height: 2px;}
	#recipes {
		background: url('../img/bg.jpg') center/cover;
		padding:120px 350px;
		}
	#recipes p {
		font: 1.1em Poppins;
		line-height: 1.7;
		margin: 50px 0 0;
		}
	#f1 nav {
		display: inline-block;
		width: 15%;
		margin: 0 30px 0 0;
		text-align:left;
	}
	#f1 h5 {margin: 0 0 30px 20px;}
	#f1 p {margin: 30px 0 0 0;}
	#f1 li {margin: 10px 0;text-align: left;}
	#f1 div nav ul li a i {color:#c0235a; margin: 0 5px;}
	#logo {font: 1.6em Poppins;}
	#f2 ul {display: inline-block;}
	#f2 ul li {display:inline-block; margin: 0 10px;font: 1em Roboto;}
	#photos img {display:inline-block;width:33%;margin:0;}
	#icons li {display:inline-block;width: 20px;}
    .cols {
        column-count: 2;
        column-gap: 10%;
    }
}